<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Acebook</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
    
    <header>
        <h1>Acebook : Connecting Social Butterflies</h1>
    </header>

    <div th:insert="navbar :: navbar">  </div>

    <h1>Newest Posts</h1>

    <div class="authorization" sec:authorize="isAuthenticated()">
        Signed in as <span sec:authentication="name"></span>
    </div>

    <!-- <form action="#" th:action="@{/posts}" th:object="${post}" method="post">
        <p>Content: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form> -->

    <ul th:each="post: ${reversed_posts}">
        <div class="username"> 
            <a th:text="${post.user.username}" </></div>
            <div class="single-post">
            <a th:text="${post.content}" /></div>
            <div class="button"><form action="#" th:action="@{/posts/incrementlikes(postId=${post.id})}" method="post">
                <input type='submit' value="Like" id="*{post.id}" />
            </form></div>
            <div class="likes"><a>Likes: <span th:text="${post.likeCount}" /> </span></a></div>
    </ul>

    </body>
</html>