<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Friends</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <header>
        <a href="/">
        </a>
        <h1>Acebook : Connecting Social Butterflies</h1>
    </header>

    <div th:insert="navbar :: navbar">  </div>

    <body>
        <ul th:each="this_user: ${users}">
            <a th:text="${this_user.username}" />
            <form action="#" th:action="@{/users/message-friend}" method="get">
                <input type='submit' value="Add friend" />
            </form>

        </ul>

    </body>
    </html>