<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Acebook</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
    
    <header>
        <h1>Acebook : Connecting Social Butterflies</h1>
    </header>

    <div th:insert="navbar :: navbar">  </div>

    <h2>Friend request sent, please use the form below if you would like to send a message with your request </h2>

    <div class="authorization" sec:authorize="isAuthenticated()">
        Signed in as <span sec:authentication="name"></span>
    </div>

  <div class="contact-form">
    <form action="#" th:action="@{/users/add-friends}" method="get">
    <h1 class="form-header">Message</h1>
    <textarea type="text" name="message" class="input-field textarea-field" placeholder="Message"></textarea>
    <input type="submit" class="btn" value="Send Message"/>
    </form>
  </div>
</body>