<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Signup</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
    
    <body>
    <header>
        <h1>Acebook : Connecting Social Butterflies</h1>
    </header>
        
    <div th:insert="navbar :: navbar">  </div>

    <h2> Create a New Account </h2>

    <div class="signup">
        <form action="#" th:action="@{/users}" th:object="${user}" method="post">
            <p>Set Username: <input type="text" th:field="*{username}" /></p>
            <p>New Password: <input type="password" th:field="*{password}" /></p>
            <p><input type="submit" value="Submit" id="submit"/> <input type="reset" value="Reset" /></p>
        </form>
    </div>
    </body>
</html>