<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Acebook</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>

    <header>
        <a href="/">
        </a>
        <h1>Acebook : Connecting Social Butterflies</h1>
    </header>

    <div th:insert="navbar :: navbar">  </div>

    <h2> Welcome to Acebook! </h2>

    <img src="https://mediaproxy.salon.com/width/1200/https://media.salon.com/2021/06/butterflies-0621211.jpg" class="homepage_image">

    </body>
</html>
